<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>预约结果</title>
    <style type="text/css">
        div,
        img {
            width: 100%;
        }
    </style>

    <script type="text/JavaScript">
        <script type="text/JavaScript">
            function timeRefresh() { setTimeout("location.reload(false);", 2000); }
        </script>
    </script>

</head>


<body onLoad="JavaScript:timeRefresh();">
    <h3 align="center">{{seat_name}}</h3>
    <h4 align="center">{{book_result}}</h4>
    <img style="display: inline-block; width: 100%; max-width: 100%; height: auto;" src={{pos_img_url}} />
</body>

</html>